<div id="header"><a id="homeLink" href= "/"><% if(typeof userName == 'undefined'){ %>
                                                        <% } else { %>
                                                            Home
                                                        <% } %>
                </a><div id="pageTitle" <% if(typeof userName == 'undefined'){ %>
                                            style="width:100%;"
                                        <% } %>>FRIEND FINDER</div></div>