<!doctype html>
<html lang="en" id="index-html">
<head>
	<% include ../partials/head %>
</head>
<body id="index-body">

	<header>
		<% include ../partials/header %>
	</header>
	
	<main id="index-main">
        <% if(typeof error == 'undefined'){ %>
            
        <% } else {%>
            <div><%= error %></div>
        <% } %>
        <form method="POST" action="/send-answers">     
            <label for="full_name">Full Name</label>
            <input type="text" name="full_name" required>
            <p class="question">Question 1</p>
            <input type="radio" name="question1" value="1" required>Strongly Agree
            <input type="radio" name="question1" value="2" required>Agree
            <input type="radio" name="question1" value="3" required>Neutral
            <input type="radio" name="question1" value="4" required>Disagree
            <input type="radio" name="question1" value="5" required>Strongly Disagree<br><br>
            <p class="question">Question 2</p>
            <input type="radio" name="question2" value="1" required>Strongly Agree
            <input type="radio" name="question2" value="2" required>Agree
            <input type="radio" name="question2" value="3" required>Neutral
            <input type="radio" name="question2" value="4" required>Disagree
            <input type="radio" name="question2" value="5" required>Strongly Disagree<br><br>
            <p class="question">Question 3</p>
            <input type="radio" name="question3" value="1" required>Strongly Agree
            <input type="radio" name="question3" value="2" required>Agree
            <input type="radio" name="question3" value="3" required>Neutral
            <input type="radio" name="question3" value="4" required>Disagree
            <input type="radio" name="question3" value="5" required>Strongly Disagree<br><br>
            <p class="question">Question 4</p>
            <input type="radio" name="question4" value="1" required>Strongly Agree
            <input type="radio" name="question4" value="2" required>Agree
            <input type="radio" name="question4" value="3" required>Neutral
            <input type="radio" name="question4" value="4" required>Disagree
            <input type="radio" name="question4" value="5" required>Strongly Disagree<br><br>
            <p class="question">Question 5</p>
            <input type="radio" name="question5" value="1" required>Strongly Agree
            <input type="radio" name="question5" value="2" required>Agree
            <input type="radio" name="question5" value="3" required>Neutral
            <input type="radio" name="question5" value="4" required>Disagree
            <input type="radio" name="question5" value="5" required>Strongly Disagree<br><br>
            <p class="question">Question 6</p>
            <input type="radio" name="question6" value="1" required>Strongly Agree
            <input type="radio" name="question6" value="2" required>Agree
            <input type="radio" name="question6" value="3" required>Neutral
            <input type="radio" name="question6" value="4" required>Disagree
            <input type="radio" name="question6" value="5" required>Strongly Disagree<br><br>
            <p class="question">Question 7</p>
            <input type="radio" name="question7" value="1" required>Strongly Agree
            <input type="radio" name="question7" value="2" required>Agree
            <input type="radio" name="question7" value="3" required>Neutral
            <input type="radio" name="question7" value="4" required>Disagree
            <input type="radio" name="question7" value="5" required>Strongly Disagree<br><br>
            <p class="question">Question 8</p>
            <input type="radio" name="question8" value="1" required>Strongly Agree
            <input type="radio" name="question8" value="2" required>Agree
            <input type="radio" name="question8" value="3" required>Neutral
            <input type="radio" name="question8" value="4" required>Disagree
            <input type="radio" name="question8" value="5" required>Strongly Disagree<br><br>
            <p class="question">Question 9</p>
            <input type="radio" name="question9" value="1" required>Strongly Agree
            <input type="radio" name="question9" value="2" required>Agree
            <input type="radio" name="question9" value="3" required>Neutral
            <input type="radio" name="question9" value="4" required>Disagree
            <input type="radio" name="question9" value="5" required>Strongly Disagree<br><br>
            <p class="question">Question 10</p>
            <input type="radio" name="question10" value="1" required>Strongly Agree
            <input type="radio" name="question10" value="2" required>Agree
            <input type="radio" name="question10" value="3" required>Neutral
            <input type="radio" name="question10" value="4" required>Disagree
            <input type="radio" name="question10" value="5" required>Strongly Disagree<br><br>


            <button class="btn btn-outline-dark" id="signup-btn" type="submit">Check your match!</button>
        </form>
	</main>
	<!-- https://tayloraanenson.github.io/star-wars-rpg/ -->
	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>