<!doctype html>
<html lang="en" id="index-html">
<head>
	<% include ../partials/head %>
</head>
<body id="index-body">

	<header>
		<% include ../partials/header %>
	</header>
	
	<main id="index-main">
        <div id="resultMessage">Hi <%= userName %>,<br> your match is <br><%= matchName %></div>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>